<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shareModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06D645661EC1622E00BB76A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D6457F1EC1622F00BB76A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D6458A1EC1622F00BB76A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
